/**
* shortcode preview block style.
*/
.swp-rnk-shortcode-input{padding: 6px 8px !important;box-shadow: 0 0 0 transparent !important;transition: box-shadow 0.1s linear !important;border-radius: 4px !important;border: 1px solid #7e8993 !important;}